@using Basecode.Data.Models
@using Basecode.Data.ViewModels;
@model List<JobOpening>

@{
    ViewData["Title"] = "Job Opening";
}
<div class="background-tint" style="padding: 50px; background-image: url('https://virtualbackgrounds.site/wp-content/uploads/2020/08/industrial-style-office.jpg');">

<div class="main">
  <div class="content">
    <div class="input-group" style="width: 100%; height: 10%;">
      <input type="search" class="form-control rounded" placeholder="Search for Careers" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-danger">Search</button>
    </div>
        <ul class="joblist">
            @foreach(var jobOpening in Model)
            {
                <li>
                    <div class="joblist-item">
                        <h3>@jobOpening.Title</h3>
                        <p>@jobOpening.EmploymentType</p>
                        <p>
                            @jobOpening.Description
                        </p>
                        <button type="button" class="btn btn-danger">Apply</button>
                            <a class="btn btn-info" onclick="">Update</a>
                        <a class="btn btn-danger" onclick="ConfirmDelete(@jobOpening.Id)">Delete</a>
                    </div>
                </li>
            } 
        </ul>

<!--Delete Modal-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Delete Job Opening</h5>
                <button type="button" class="close" style="border: 0px; background-color: white;" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Job Opening?
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" onclick="HideModal()">Cancel</a>
                <a href="#" class="btn btn-success" onclick="Delete()">Confirm</a>
            </div>
        </div>
    </div>
</div>
</div>

  <div style="width: 300px; padding: 10px;">
    <div class="menu">
      <div class="menu-section">
        <h5>Create Job Opening</h5>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" style="margin-top: 25px;">
          Create Job Opening
        </button>

        @Html.Partial("_JobAdd", new JobOpeningViewModel())
      
      </div>
      <div class="menu-section" style="margin-bottom: 0px;">
        <h5>Quick Menu</h5>
        <div style="display: flex; flex-direction: column;">
          <a href="#" style="color: rgb(195, 55, 34);">Register CV and Resume</a>
          <a href="#" style="color: rgb(195, 55, 34);">Company Information</a>
          <a href="#" style="color: rgb(195, 55, 34);">Contact Us</a>
        </div>
      </div>
      <div class="menu-section">
        <h5>Filter By Department</h5>
        <div class="form-check" style="margin-top: 10px;">
          <input class="form-check-input" type="checkbox" value="">
          <label class="form-check-label" for="flexCheckDefault">
            Sample Department
          </label>
        </div>
        <div class="form-check" style="margin-top: 10px;">
          <input class="form-check-input" type="checkbox" value="">
          <label class="form-check-label" for="flexCheckDefault">
            Sample Department
          </label>
        </div>
        <div class="form-check" style="margin-top: 10px;">
          <input class="form-check-input" type="checkbox" value="">
          <label class="form-check-label" for="flexCheckDefault">
            Sample Department
          </label>
        </div>
      </div>
      <div class="menu-section">
        <h5>Sort By</h5>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 25px;">
            Sort
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<style>
  .joblist{
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
    height: 625px; padding-left: 0px;
  }

  .joblist::-webkit-scrollbar{
    width: 0px;
    background: transparent;
  }

  .joblist-item{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(180, 180, 180);
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px rgba(53, 53, 53, 0.5);
  }

  .main{
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    height: 700px;
    margin-top: 40px;
  }

  .background-tint {
    background-color: rgba(53, 53, 53, 0.75);
    background-blend-mode: multiply;
  }

  .content{
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    width: 1000px;
    height: 100px;
  }

  .menu{
    width: 100%;
    height: 95%;
    border: 1px solid rgb(180, 180, 180);
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px rgba(53, 53, 53, 0.5);
  }

  .menu-section{
    width: 100%;
    height: 25%;
    padding: 10px;
    border-bottom: 1px solid rgb(215, 215, 215);
  }
</style>
<!--Hidden elements for temp data-->
<input type="hidden" id="hiddenJobOpeningId" />

@section Scripts{
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $(document).ready(function () {
        
    })
        var HideModal = function () {
            $("#DeleteModal").modal('hide');
        }
        var ConfirmDelete = function (jobOpeningId) {
            $("#hiddenJobOpeningId").val(jobOpeningId);
            $("#DeleteModal").modal('show');
        }
        var Delete = function () {
            var jobOpeningId = $("#hiddenJobOpeningId").val();
            $.ajax({
                type: "POST",
                url: "/JobOpening/Delete",
                data: { id: jobOpeningId },
                success: function (result) {
                    $("#DeleteModal").modal("hide");
                    $("#hiddenJobOpeningId").val(null);
                    location.reload();
                }
            });
        }
</script>
}